$White: #ffffff;
$Black: #000000;
$Dark-Gray: #8c8c8c;
$Verydark-Gray: #696969;

body {
    background: white;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
